.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px grey;

}
.note{
    font-size:15px;
    color:black;

}
canvas{
    box-shadow:5px 5px 5px grey;
    border:5px solid white;
    border-radius: 20px;
}
.copy_right_footer{
    position: fixed;
    background-color: grey;
    color: white;
    text-align:center;
    width: 100%;
    bottom: 0;
}